@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-size: 10px
}

body {
    background-color: #0B2233;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

/* navbar */
nav {
    display: flex;
    width: 100%;
    padding: 0 5%;
    height: 5rem;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    z-index: 1000;
    width: 7rem;
}

.burger {
    height: 2rem;
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.burger span {
    background-color: #0B2233;
    width: 100%;
    height: 2px;
}


/* burger animation */
.burger.open .line1 {
    -moz-transform: rotate(45deg) translate(8px, 7px);
    -o-transform: rotate(45deg) translate(8px, 7px);
    -ms-transform: rotate(45deg) translate(8px, 7px);
    -webkit-transform: rotate(45deg) translate(8px, 7px);
    transform: rotate(45deg) translate(8px, 5px);
    transition: all 0.4s ease;
    
}

.burger.open .line2 {
    opacity: 0;
    transition: all 0.4s ease;
}

.burger.open .line3 {
    -moz-transform: rotate(-45deg) translate(7px, -6px);
    -o-transform: rotate(-45deg) translate(7px, -6px);
    -ms-transform: rotate(-45deg) translate(7px, -6px);
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
    transform: rotate(-45deg) translate(8px, -5px);
    transition: all 0.4s ease;
}


.navlinks {
    position: absolute;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
}

.navlinks.active {
    transform: translateY(0%);
}

.navlinks li {
    list-style: none;
    line-height: 4rem;
}

.navlinks li a {
    text-decoration: none;
    font-size: 2rem;
    color: #0B2233;
    font-weight: 500;
}






/* header */
.home-header {
    height: 100vh;
    width: 100%;
    background-image: url(/images/header-home.png);
    background-position: center;
    background-size: cover;
}

.header-text-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(11, 34, 51, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% ;
}

.org-name {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    width: 300px;
}

.slogan {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
}

.cta-btn {
    text-decoration: none;
    color: #fff;
    width: 25rem;
    background-color: #FF7603;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 16px;
    margin: 10px 0;
}



/* home products */
/* home products */
/* home products */
.home-products {
    padding: 10rem 5%;
}

.box-container {
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.box {
    text-decoration: none;
}

.box img {
    /* height: 30rem; */
    width: 100%;
    background-color: darkcyan;
}

.box p {
    color: #fff;
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 4rem;
}

.link-container {
    padding: 3rem 0 2rem;
}

.page-link {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
}

.page-link img {
    width: 1.3rem;
    align-items: center;
}




/* home about */
/* home about */
/* home about */
.home-about {
    padding: 10rem 5% 3rem;
}

.about-img {
    width: 100%;
    height: 45rem;
    background-image: url(/images/about-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text {
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #fff;
}



/* banner */
.banner {
    width: 100%;
    height: 20rem;
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* footer */
/* footer */
/* footer */
footer {
    margin-top: 8rem;
    padding: 3rem 5% 3rem;

}

.footer-link-container {
    border-top: 1px solid #fff;
    padding: 3rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-links a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 1.5;
}

.footer-nav-links {
    text-align: right;
}

.copywrite {
    padding: 2rem 0 0;
}
.copywrite p {
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}

.copywrite p a {
    color: #fff;
}






/* products page */
/* products page */
/* products page */
/* products page */
/* products page */
.section-container {
    padding: 5rem 0 5rem;
}

.item-banner {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* vehicle & base radios */
.banner-1 {
    background-image: url(/images/products-mobile-banner-1.png);
}

/* potable radios */
.banner-2 {
    background-image: url(/images/products-mobile-banner-2.png);
}

.item-text-container {
    height: 100%;
    width: 100%;
    background-color: rgba(11, 34, 51, 0.55);
    display: grid;
    place-items: center;

}

.item-text-container h5 {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    width: 70%;
}

.item-container {
    padding: 2rem 5%;
    display: flex ;
    flex-direction: column;
    
    align-items: center;
    gap: 4rem;
}

.pack-container {
    text-decoration: none;
}

.pack-container p {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 2rem;
}

















/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
.about-header {
    height: 100vh;
    width: 100%;
    background-image: url(/images/about-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.statements {
    padding: 5rem 5%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}


.container {
    width: 100%;
    height: 30rem;
    background-color: #1B4D71;
    padding: 3rem 0;
}

.container h6 {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
}

.container p {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem;
}

.about-banner {
    height: 20rem;
    width: 100%;
    background-image: url(/images/about-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* contact page */
/* contact page */
/* contact page */
/* contact page */
/* contact page */
.contact-container {
    display: flex;
    flex-direction: column;
    padding: 10rem 5% 0;

}

.map-container {
    overflow: hidden;
    padding-bottom: 3rem;
}


.form-section {
    padding: 5rem 0 5rem;
}

.fields {
    width: 100%;
}

.rect {
    width: 100%;
    height: 6rem;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-top: 4rem;
    outline: none;
    resize: none;
}

.textarea {
    width: 100%;
    height: 10rem;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1.4rem;
    margin-top: 4rem;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    resize: none;
}

.button {
    background-color: #FF7603;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    height: 4rem;
    margin-top: 3rem;
}




/* nx5000 page */
/* nx5000 page */
/* nx5000 page */

.item-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-text-container h6 {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

.item-text-container p {
    color: #fff;
    font-size: 1.7rem;
}

.description-container {
    display: flex;
    flex-direction: column;
    padding: 5rem 5%;
}

.description-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.description-text-contaner p {
    color: #fff;
    font-size: 1.8rem;
}















/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
@media screen and (min-width: 768px) {
    
    /* header */
    .home-header {
        height: 100vh;
        width: 100%;
        background-image: url(/images/header-home.png);
        background-position: center;
        background-size: cover;
    }

    .header-text-container {
        height: 100vh;
        width: 100%;
        background-color: rgba(11, 34, 51, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5% ;
    }

    .org-name {
        color: #fff;
        font-size: 4rem;
        width: 90%;
    }

    .slogan {
        color: #fff;
        font-size: 4rem;
        font-weight: 500;
    }

    .cta-btn {
        text-decoration: none;
        color: #fff;
        width: 30rem;
        background-color: #FF7603;
        height: 40px;
        display: grid;
        place-items: center;
        font-size: 18px;
        margin: 10px 0;
    }



    /* home products */
    /* home products */
    /* home products */
    .home-products {
        padding: 10rem 5% 6rem;
    }

    .box-container {
        gap: 2rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 4rem;
    }

    .box {
        width: 100%;
    }

    .box img {
        height: 100%;
        width: 100%;
        background-color: darkcyan;
    }

    .box p {
        color: #fff;
        font-size: 1.6rem;
        display: grid;
        place-items: center;
        height: 4rem;
    }

    .link-container {
        padding: 3rem 0 2rem;
    }

    .page-link {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
    }


    
    /* home about */
    /* home about */
    /* home about */
    .home-about {
        padding: 10rem 5% 3rem;
        display: flex;
    }

    .content-container {
        display: flex;
        width: 100%;
    }

    .img-container {
        width: 50%;
    }

    .about-img {
        width: 100%;
        height: 45rem;
        background-image: url(/images/about-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about-text-container {
        width: 50%;
        padding: 0 1rem 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-text {
        margin-top: 0rem;
        font-size: 1.6rem;
        color: #fff;
    }



    /* banner */
    .banner {
        margin-top: 7rem;
        width: 100%;
        height: 30rem;
        background-image: url(/images/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }










    /* footer */
    /* footer */
    /* footer */
    footer {
        margin-top: 6rem;
        padding: 3rem 5% 3rem;

    }

    .footer-link-container {
        border-top: 1px solid #fff;
        padding: 3rem 0 1rem;
        display: flex;
        justify-content: space-between;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .footer-links a {
        color: #fff;
        font-size: 1.4rem;
        text-decoration: none;
        line-height: 1.5;
    }

    .footer-nav-links {
        text-align: right;
    }

    .footer-nav-links a:nth-child(1) {
        display: none;
    }

    .copywrite {
        padding: 2rem 0 0;
    }
    .copywrite p {
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
    }

    .copywrite p a {
        color: #fff;
    }












    

    /* products page */
    /* products page */
    /* products page */
    /* products page */
    /* products page */
    .section-container {
        padding: 5rem 0 ;
    }

    .item-banner {
        height: 40vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    /* vehicle & base radios */
    .banner-1 {
        background-image: url(/images/products-banner-1.png);
    }

    /* potable radios */
    .banner-2 {
        background-image: url(/images/products-banner-2.png);
    }

    .item-text-container {
        height: 100%;
        width: 100%;
        background-color: rgba(11, 34, 51, 0.55);
        display: grid;
        place-items: center;

    }

    .item-text-container h5 {
        color: #fff;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }

    .item-container {
        padding: 2rem 5%;
        display: flex ;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    }


    .pack-container img {
        width: 21rem;
    }

    .pack-container p {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0 2rem;
    }














    

    /* about page */
    /* about page */
    /* about page */
    /* about page */
    /* about page */
    .about-header {
        height: 100vh;
        width: 100%;
        background-image: url(/images/about-header.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .statements {
        padding: 5rem 5%;
        gap: 1rem;
        display: grid;
        
    }


    .container {
        width: 100%;
        height: 30rem;
        background-color: #1B4D71;
        padding: 3rem 0;
    }

    .container h6 {
        color: #fff;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
    }

    .container p {
        color: #fff;
        font-size: 1.6rem;
        text-align: center;
        padding: 2rem;
    }

    .about-banner {
        height: 20rem;
        width: 100%;
        background-image: url(/images/about-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }







    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    .contact-container {
        display: flex;
        flex-direction: column;
        padding: 10rem 5% 0;

    }

    .map-container {
        overflow: hidden;
        padding-bottom: 3rem;
    }


    .form-section {
        padding: 5rem 0 5rem;
    }

    .fields {
        width: 60%;
        
    }

    .rect {
        width: 100%;
        height: 6rem;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        margin-top: 3rem;
    }

    .textarea {
        width: 100%;
        height: 10rem;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 1.4rem;
        margin-top: 4rem;
        font-family: 'Open Sans', sans-serif;
    }

    .button {
        background-color: #FF7603;
        border: none;
        color: #fff;
        font-size: 1.6rem;
        width: 60%;
        height: 4rem;
        margin-top: 3rem;
    }









}





/* laptop screen 1024px */
/* laptop screen 1024px */
/* laptop screen 1024px */
/* laptop screen 1024px */
/* laptop screen 1024px */
@media screen and (min-width: 1024px) {
    nav {
        display: flex;
        width: 100%;
        padding: 0 5%;
        height: 10vh;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .logo {
        z-index: 1000;
        width: 10rem;
    }

    .burger {
        display: none;
    }

    .navlinks {
        position: relative;
        height: 10vh;
        width: 40%;
        background-color: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transform: translateY(0);
        z-index: 1000;
    }

    .navlinks li {
        list-style: none;
        line-height: 1.8rem;
    }

    .navlinks li:nth-child(4) {
        background-color: #FF7603;
        height: 3rem;
        width: 15rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navlinks li:nth-child(4):hover {
        background-color: #ff8a2a;
    }

    .navlinks li:nth-child(4) a {
        color: #fff;
    }
    
    .navlinks li a {
        text-decoration: none;
        font-size: 1.6rem;
        color: #0B2233;
        font-weight: 500;
    }

    



    /* header */
    .home-header {
        height: 100vh;
        width: 100%;
        background-image: url(/images/header-home.png);
        background-position: center;
        background-size: cover;
    }

    .header-text-container {
        height: 100vh;
        width: 100%;
        background-color: rgba(11, 34, 51, 0.7);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 5% ;
    }

    .org-name {
        color: #fff;
        font-size: 6rem;
        width: 90rem;
        text-align: center;
    }

    .slogan {
        color: #fff;
        font-size: 5rem;
        font-weight: 500;
    }

    .cta-btn {
        text-decoration: none;
        color: #fff;
        width: 30rem;
        background-color: #FF7603;
        height: 40px;
        display: grid;
        place-items: center;
        font-size: 20px;
        margin: 10px 0;
    }

    .cta-btn:hover {
        background-color: #ff8a2a;
    }





    /* home products */
    /* home products */
    /* home products */
    .home-products {
        padding: 10rem 5% 6rem;
    }

    .box-container {
        gap: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
    }

    .box {
        width: 30rem;
    }

    .box img {
        height: 25rem;
        width: 30rem;
        background-color: darkcyan;
    }

    .box p {
        color: #fff;
        font-size: 1.6rem;
        display: grid;
        place-items: center;
        height: 4rem;
    }

    .link-container {
        padding: 3rem 0 2rem;
    }

    .page-link {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
    }









    /* home about */
    /* home about */
    /* home about */

    .img-container {
        width: 50%;
        padding-left: 5rem;
    }

    .about-img {
        width: 35rem;
        height: 45rem;
        background-image: url(/images/about-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about-text-container {
        width: 50%;
        padding: 0 5rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-text {
        margin-top: 0rem;
        font-size: 1.8rem;
        line-height: 1.5;
        color: #fff;
    }

    









    
    /* products page */
    /* products page */
    /* products page */
    /* products page */
    /* products page */
    .section-container {
        padding: 5rem 0 ;
    }

    .item-banner {
        height: 50vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    /* vehicle & base radios */
    .banner-1 {
        background-image: url(/images/products-banner-1.png);
    }

    /* potable radios */
    .banner-2 {
        background-image: url(/images/products-banner-2.png);
    }

    .item-text-container {
        height: 100%;
        width: 100%;
        background-color: rgba(11, 34, 51, 0.55);
        display: grid;
        place-items: center;

    }

    .item-text-container h5 {
        color: #fff;
        font-size: 6rem;
        font-weight: 600;
        text-align: center;
    }

    .item-container {
        padding: 2rem 5%;
        display: flex ;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    }

    .pack-container:hover >  p {
        color: #FF7603;
    }

    .pack-container img {
        width: 28rem;
    }

    .pack-container p {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0 2rem;
    }





















    /* about page */
    /* about page */
    /* about page */
    /* about page */
    /* about page */
    .about-header {
        height: 100vh;
        width: 100%;
        background-image: url(/images/about-header.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .statements {
        padding: 5rem 5%;
        gap: 3rem;
        display: flex;
        flex-direction: row;
    }


    .container {
        width: 100%;
        height: 30rem;
        background-color: #1B4D71;
        padding: 3rem 0;
    }

    .container h6 {
        color: #fff;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 600;
    }

    .container p {
        color: #fff;
        font-size: 1.6rem;
        text-align: center;
        padding: 2rem;
        line-height: 1.4;
    }

    /* banner */
    .about-banner {
        height: 40rem;
        width: 100%;
        background-image: url(/images/about-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }









    
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    .contact-container {
        display: flex;
        flex-direction: row;
        padding: 10rem 5% 0;

    }

    .map-container {
        overflow: hidden;
        padding-bottom: 0rem;
        padding-top: 5rem;
        width: 50%;
    }


    .form-section {
        padding: 1.5rem 0 0 5rem;
        width: 50%;
        
    }

    .fields {
        width: 40rem;
    }

    .rect {
        width: 100%;
        height: 6rem;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        margin-top: 3rem;
    }

    .textarea {
        width: 100%;
        height: 10rem;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 1.4rem;
        margin-top: 4rem;
        font-family: 'Open Sans', sans-serif;
    }

    .actions {
        display: flex;
        justify-content: center;
        width: 40rem;
    }

    .button {
        background-color: #FF7603;
        border: none;
        color: #fff;
        font-size: 1.6rem;
        width: 30rem;
        height: 4.5rem;
        margin-top: 3rem;
        align-self: center;
    }









    
    /* nx5000 page */
    /* nx5000 page */
    /* nx5000 page */

    .item-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item-text-container h6 {
        font-size: 3.5rem;
        color: #fff;
        font-weight: 500;
    }

    .item-text-container p {
        color: #fff;
        font-size: 2.5rem;
    }

    .description-container {
        display: flex;
        flex-direction: row;
        padding: 5rem 5% 0 ;
    }

    .description-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .description-text-contaner {
        padding:  0 7rem 0 7rem;
    }

    .description-text-contaner p {
        color: #fff;
        font-size: 1.8rem;
    }






}









