@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-size: 10px
}

body {
    background-color: #0B2233;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
nav {
    display: flex;
    width: 100%;
    padding: 0 5%;
    height: 5rem;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

.logo {
    z-index: 1000;
    width: 7rem;
}

.burger {
    height: 2rem;
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.burger span {
    background-color: #0B2233;
    width: 100%;
    height: 2px;
}

.navlinks {
    position: absolute;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.navlinks.active {
    transform: translateY(0%);
}

.navlinks li {
    list-style: none;
    line-height: 4rem;
}

.navlinks li a {
    text-decoration: none;
    font-size: 2rem;
    color: #0B2233;
    font-weight: 500;
}


/* header */
.home-header {
    height: 100vh;
    width: 100%;
    background-image: url(/images/header-home.png);
    background-position: center;
    background-size: cover;
}

.header-text-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(11, 34, 51, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5% ;
}

.org-name {
    color: #fff;
    font-size: 3rem;
}

.slogan {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
}

.cta-btn {
    text-decoration: none;
    color: #fff;
    width: 25rem;
    background-color: #FF7603;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 16px;
    margin: 10px 0;
}



/* home products */
/* home products */
/* home products */
.home-products {
    padding: 2rem 5%;
}

.box-container {
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

/* .box {


} */

.box img {
    height: 30rem;
    width: 100%;
    background-color: darkcyan;
}

.box p {
    color: #fff;
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 4rem;
}

.link-container {
    padding: 3rem 0 2rem;
}

.page-link {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
}

.page-link img {
    width: 1.5rem;
}




/* home about */
/* home about */
/* home about */
.home-about {
    padding: 10rem 5% 3rem;
}

.about-img {
    width: 100%;
    height: 45rem;
    background-image: url(/images/about-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text {
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #fff;
}



/* banner */
.banner {
    width: 100%;
    height: 20rem;
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* footer */
/* footer */
/* footer */
footer {
    margin-top: 8rem;
    padding: 3rem 5% 3rem;

}

.footer-link-container {
    border-top: 1px solid #fff;
    padding: 3rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-links a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 1.5;
}

.footer-nav-links {
    text-align: right;
}

.copywrite {
    padding: 2rem 0 0;
}
.copywrite p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.copywrite p a {
    text-decoration: none;
    color: #fff;
}











/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
/* tablet screen 768px */
@media screen and (min-width: 768px) {
    
    /* header */
    .home-header {
        height: 100vh;
        width: 100%;
        background-image: url(/images/header-home.png);
        background-position: center;
        background-size: cover;
    }

    .header-text-container {
        height: 100vh;
        width: 100%;
        background-color: rgba(11, 34, 51, 0.55);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5% ;
    }

    .org-name {
        color: #fff;
        font-size: 4rem;
    }

    .slogan {
        color: #fff;
        font-size: 4rem;
        font-weight: 500;
    }

    .cta-btn {
        text-decoration: none;
        color: #fff;
        width: 30rem;
        background-color: #FF7603;
        height: 40px;
        display: grid;
        place-items: center;
        font-size: 18px;
        margin: 10px 0;
    }



    /* home products */
    /* home products */
    /* home products */
    .home-products {
        padding: 2rem 5%;
    }

    .box-container {
        gap: 3rem;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .box img {
        height: 30rem;
        width: 100%;
        background-color: darkcyan;
    }

    .box p {
        color: #fff;
        font-size: 1.6rem;
        display: grid;
        place-items: center;
        height: 4rem;
    }

    .link-container {
        padding: 3rem 0 2rem;
    }

    .page-link {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;
    }











}












